*{
    transition: all 0.2s ease-in;
}
.info-disclaimer-wrapper{
    padding: 10px 0px 10px 10px;
    border-left: 1px solid blue;
    width: 80%;
    font-size:50%;
}
.offers-holder{
    padding: 10px 0px 10px 10px;
    font-size: 65%;
    width: 85%;
}
.offer-wrapper{
    margin:5px 5px 0px 0px;
    padding:5px;
    color: white;
background-color: blue;
width: 100%;
}
.offer-header-holder{
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid white;
}
.template-galery-wrapper{
    width:90%;
    padding-top: 15px;
}
.picture-panel-wrapper {
    display: none;
}
.template-galery-list-wrapper{
    text-align: left;
    padding: 15px 0px;
    width:100%;
    flex-flow: row;
    justify-content: space-between;
}
.template-galery-header{
    padding-bottom: 5px;
    border-bottom: 1px solid blue;
    font-size: 96%;
}
div[class*="template-galery-list-"]{
    width:100%;
}
li[class*="template-galery-list-item-"]:hover{
    cursor: pointer;
    color:blue;

        }
        .popup-galery-wrapper{
            position: fixed;
            top: 0;
            left: 0;
            width:100vw;
            min-height: 100vh;
            padding: 0px 20px;
            background-color: rgba(0, 0, 255, 0.801);
            color:white;
            flex-flow: column;
            z-index: 115;
            overflow: scroll;
        }

        .popup-galery-header-wrapper{
            padding: 5px 0px;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }
        
        .galery-header-wrapper{
            flex-flow: row;
        }
        .popup-back-btn , .popup-header{
            width:50px;
            height: 50px;
        }
        .popup-back-btn{
            width:20px;
            height: 20px;
            cursor: pointer;

        }
        img[class*="popup-galery-btn-"]{
            width:50px;
            height: 50px;
            padding: 10px;
            border-radius: 50%;
            position: fixed;
            cursor: pointer;
            background-color: rgba(0, 0, 255, 0.486);
            top:50vh;
        }
        .popup-galery-btn-right{
            right: 0;
            
        }
        .popup-galery-btn-left{
            transform: rotate(180deg);
            left: 0;

        }
        .popup-galery-slide-wrapper{
            width: 100%;
            height: 90vh;
            padding-bottom: 50px;
            overflow: auto;
            overflow-y: auto;
            margin: auto;
        }
        .popup-galery-picture-holder{
            width: 100vw;
        }
        .popup-galery-picture{
            width: 100%;
        }

        .designs-btn{
            background-color: blue;
            color:white;
            padding: 0 10px;
            text-transform: uppercase;
            font-size: 100%;
            font-weight: 900;
            border-radius: 10px;
        }
@media only screen and (min-width: 769px){
    .info-disclaimer-wrapper{
        font-size:70%;
        
    }   
    .offers-holder{
        font-size: 90%;
        flex-flow: row;
    }
    .offer-wrapper{
    width: 33%;
    flex-flow: column;

    }

    .picture-panel-wrapper{
        width: 100%;
        display: flex;
    }
    div[class*="galery-thumbnail-"]{
        position: relative;
width:25%;
height: 150px;
overflow: hidden;
cursor:pointer
    }
    .popup-galery-slide-wrapper{
        width: 90%;
    }
    .picture-panel-wrapper img{
        width: 100%;
    }
    div[class*="thumbnail-overlay-"]{
        position:absolute;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        text-transform: uppercase;
        display: none;
    }
      img[class*="thumbnail-icon-"]{
  height:50%;
  width: auto;
      }
    .template-galery-list-wrapper{
        width:10%;
    }
    img[class*="popup-galery-btn-"]{
        width:70px;
        height: 70px;
        padding: 20px;
    }
    .designs-btn{
        padding: 0 20px;
        font-size: 185%;
        cursor: pointer;
    }
}